.userMsgBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 15vh; */
  background-color: rgb(89, 84, 84);
  border: solid 1px white;
  border-radius: 1rem;
  margin: 0;
}

.userMsgBox p {
  font-size: 25px;
}

.userMsgBox h2 {
  margin: 0;
}

.userMsgBox h3 {
  margin: 0;
}
